/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html {
    margin-left: 185px;
    margin-right: 185px;
    background-color: #ffffff;
    /*background: -moz-linear-gradient(top, #00b0ff,  #e0edff);*/
    height: 100%; 
}

body {
    background-image: url(/assets/SUPERlarge.png), -moz-linear-gradient(top, #e0edff, #00b0ff);
    background-image: url(/assets/SUPERlarge.png), -webkit-linear-gradient(top, #e0edff, #00b0ff);
    background-repeat: no-repeat;
    /*background-position: -5vw 6vh;*/
    background-size: 100% 100%;
    height: 100%; 
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: solid #787878;
    border-width: 0 4px 0 4px;
}
 
canvas {
    display: none !important;
}

video { 
    display: inline !important;
    position: relative;
    margin-left: 50%;
    left: -416px;
    border: solid 5px black;
    border-radius: 5px;
    top: 10vh;
    background-image: url(/assets/titlescreeenArtwork.png);
    background-size: 100% 100%;
}

.submit {
    background-color: red;
    background-image: url(/assets/LoginButton.png);
    background-size: 100% 100%;
    width: 195px;
    height: 61px;
    border: solid black 3px;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
}

.emailLabel {
    background-image: url(/assets/Email.png);
    width: 106px;
    height: 23px;
    margin: auto;
}

.passwordLabel {
    background-image: url(/assets/Password.png);
    width: 106px;
    height: 23px;
    margin: auto;
}

#email {
    display: block;
    margin: auto;
}

#password {
    display: block;
    margin: auto;
}

#login_form {
    width: 195px;
    background-color: #787878;
    position: absolute;
    right: 0px;
    top: 0px;
}

.flash {
    display: none;
}

.field {
    margin: 2px;
}

#login_heading {
    width: 195px;
    height: 29px;
    
    background-image: url(/assets/Enter-Login-Details.png);
    background-repeat: no-repeat;
}

.socialMediaButtons {
    width: 136px;
    height: 136px;
    position: absolute;
    bottom: 30px;
    right: 25px;
}
.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.loginInfo {
    margin: 0px !important;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.contactUs {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 160px;
    right: 50px;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url('/assets/twitter-hover.png');
}
.facebook-hover {
	background-image: url('/assets/facebook-hover.png');
}
.email-hover {
	background-image: url('/assets/email-sprite.png');
}
.studio-hover {
	background-image: url('/assets/thistledoSmall.jpg');
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: -33px;
    right: 10px;
}

.blurb-holder {
    position: absolute;
    top: 30vh;
    left: 0px;
    width: 185px;
}

.blurb {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #787878;
}

