/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html {
     background-color: #00b0ff;
     /*background: -moz-linear-gradient(top, #00b0ff,  #e0edff);*/
     background-image: url(/assets/SUPERlarge.png), -moz-linear-gradient(top, #e0edff, #00b0ff);
     background-repeat: no-repeat;
     /*background-position: -5vw 6vh;*/
     background-size: cover;
     
 }
 
canvas {
    position: relative;
    margin-left: 50%;
    left: -416px;
    border: solid 5px black;
    border-radius: 5px;
}

.socialMediaButtons {
    width: 136px;
    height: 136px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.loginInfo {
    font-family: 'Open Sans', sans-serif;
}
.contactUs {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 160px;
    right: 60px;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url('/assets/twitter-hover.png');
}
.facebook-hover {
	background-image: url('/assets/facebook-hover.png');
}
.email-hover {
	background-image: url('/assets/email-sprite.png');
}
.studio-hover {
	background-image: url('/assets/thistledoSmall.jpg');
}