/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html {
   /* margin-left: 185px;*/
    
    background-color: #ffffff;
    /*background: -moz-linear-gradient(top, #00b0ff,  #e0edff);*/
    height: 100vh; 
    overflow-y: scroll;
}

body {
    margin: 0 !important;
}

.mid-container {
    background-image: url(/assets/SUPERlarge.png), -moz-linear-gradient(top, #e0edff, #00b0ff);
    background-image: url(/assets/SUPERlarge.png), -webkit-linear-gradient(top, #e0edff, #00b0ff);
    background-repeat: no-repeat;
    /*background-position: -5vw 6vh;*/
    background-size: 100% 100%;
    height: 100vh; 
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: solid #787878;
    border-width: 0 0.21vw;
    float: left;
}

.right-container {
    height: 100vh;
    float: left;
}

.left-container {
    height: 100vh;
    float: left;
}

@media (min-width: 1450px) {
    .mid-container {
        width: 78.68vw;
    }
    .right-container {
        width: 10vw;
    }
    
    .left-container {
        width: 10vw;
    }
    #login_heading {
        font-size: 24px;
    }
    .socialMediaButtons {
        width: 10.5vw;
        max-width: 210px;
    }
    .social-slide:hover {
    	background-position: 0px 48px/*2.52vw*/;
    }
    .copyright {
        font-size: 13px;
    }
}

@media (max-width: 1449px) {
    .mid-container {
        width: 74.6vw;
    }
    .right-container {
        width: 12.04vw;
    }
    
    .left-container {
        width: 12.04vw;
    }
    #login_heading {
        font-size: 20.5px;
    }
    .socialMediaButtons {
        width: 12vw;
    }
    .social-slide:hover {
    	background-position: 0px 3.3vw/*2.52vw*/;
    }
    .copyright {
        font-size: 9px;
    }
}

canvas {
    display: none !important;
}

video { 
    display: block !important;
    position: relative;
    margin-left: 50%;
    left: -42vh;
    border: solid 5px black;
    border-radius: 5px;
    top: 10vh;
    background-image: url(/assets/titlescreeenArtwork.png);
    background-size: 100% 100%;
    width: 84vh;
    height: 63vh;
}

@media (orientation:portrait) {
    video {
        width: 84vw;
        height: 63vw;
        left: -42vw;
        top: 25vh;
    }
}

.submit {
    background-color: red;
    background-image: url(/assets/LoginButton.png);
    background-size: 100% 100%;
    width: 100%;
    height: 61px;
    border: solid black 3px;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    margin-top: 5px;
}

.emailLabel {
    /*background-image: url(/assets/Email.png);
    width: 106px;
    height: 23px;*/
    margin: 0.26vw;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.passwordLabel {
    /*background-image: url(/assets/Password.png);
    width: 106px;
    height: 23px;*/
    margin: 0.26vw;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#email {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    max-width: 10vw;
    border: none;
}

#password {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    max-width: 10vw;
    border: none;
}

#login_form {
    width: 100%;
    background-color: #787878;
    position: relative;
    right: 0px;
    top: 0px;
}

.flash {
    display: none;
}

.field {
    margin: 2px;
}

#login_heading {
    width: 100%;
    height: 29px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    /*background-image: url(/assets/Enter-Login-Details.png);
    background-repeat: no-repeat;*/
}

@media (min-width: 1800px) {
    #login_heading {
        font-size: 30px;
    }
}

.studioLogo {
    width: 10vw;
    height: 4.7vw;
    position: relative;
    top: 10vh;
    right: 0;
    background-image: url(/assets/rubbleLogo.png);
    background-size: 100% 100%;
}

.socialMediaButtons {
    height: 10vw/*136px*/;
    position: absolute;
    bottom: 0px/*30px*/;
    right: 0px/*25px*/;
}

.smbHolder {
    height: 88%;
    width: 81%;
    margin: auto;
    padding-left: 1vh;
    padding-top: 1vh;
}
.social-slide {
	max-height: 48px;
	max-width: 48px/*2.52vw*/;
	height: 3.3vw;
	width: 3.3vw;
	margin: 0.5vw/*10px*/;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.loginInfo {
    margin: 0px !important;
    padding-left: 0.26vw;
    font-family: 'Raleway', sans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.contactUs {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 8.41vw/*160px*/;
    right: 2.63vw/*50px*/;
}
.social-slide:hover {
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url('/assets/twitter-hover.png');
	background-size: 100% 200%;
}
.facebook-hover {
	background-image: url('/assets/facebook-hover.png');
	background-size: 100% 200%;
}
.email-hover {
	background-image: url('/assets/email-sprite.png');
	background-size: 100% 200%;
}
.blogger-hover {
	background-image: url('/assets/blogger-hover.png');
	background-size: 100% 200%;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 0.1vh;
    right: 13px/*0.525vw*/;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.blurb-holder {
    position: relative;
    top: 30vh;
    width: 100%;
}

.blurb {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #787878;
    padding-right: 2px;
}

@media (min-width: 1600px) {
    .blurb {
        font-size: 16px;
    }
    #login_heading {
        font-size: 26px;
    }
    .smbHolder {
        padding-left: 3.95vh;
        padding-top: 2.5vh;
    }
}

#mc_embed_signup {
    position: absolute;
    right: 198px;
    top: 20vh;
    width: 25vw;
    min-width: 250px;
    background: #fff; 
    clear: left; 
    font: 14px 'Raleway', Arial, sans-serif; 
    display: none;
}

#signup-header {
    font-size: 24px;
    text-align: center;
    -webkit-margin-before: 0em;
    margin-left: -3%;
}	

#signupButton {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #787878;
    border: none;
    border-radius: 5px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: white;
}