canvas  { 
    display: inline !important;
    position: relative;
    margin-left: 50%;
    left: -416px;
    border: solid 5px black;
    border-radius: 5px;
}

video {
    display: none !important;
}